{% extends "base.html" %}

{% block content %}
<p>Class project for CS 545 at UW-Madison. Provides an open-source Spanish 
conjugation driller. Presents user with a sentence that has an input field in 
place of a verb in the sentence. Information on the missing verb, including 
infinitive and relevant conjugation information, is shown under the input field. 
The user is asked to fill in the correct conjugation and then press *Check 
Answer*. The user will then receive feedback on their answer and if they want to 
they can choose *Get New Exercise* to get a new random sentence from the corpus.</p>
{% endblock %}