{% extends "base.html" %}

{% block scripts %}
    {{ block.super }}
    <script src="/static/js/conjViewModels.js"></script>
    <script>
        $(document).ready(function(){
            ex = new Exercise();
            ex.getNewExercise();
            ko.applyBindings(ex);
        });
    </script>
{% endblock scripts %}

{% block content %}
<div id="success" class="alert alert-success" data-alert="alert"
     data-bind="visible: userWasCorrect">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Congratulations! That is correct.
</div>
<div id="failure" class="alert alert-error" data-alert="alert"
    data-bind="visible: userWasWrong">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Uh-oh that isn't correct.
</div>
<div id="sentence">
    <div class="sentence">
        <!-- ko foreach: leftHalf -->
            <span class="sentence word" 
            data-bind="text: $data"></span>                        
        <!-- /ko -->
        <span class="sentence verb">
            <input tabindex="1" type="text" id="verb" 
            data-bind="value: userAnswer, hasfocus: startExercise"/>
            <label for="verb">
                        <span class="verbLemma"
                        data-bind="text: verb().lemma()"></span>
                        (
                        <span class="moodInfo" 
                        data-bind="text: moodInfo"></span>
                        <span class="tenseInfo" 
                        data-bind="text: tenseInfo"></span>
                        <span class="personInfo" 
                        data-bind="text: personInfo"></span>
                        <span class="pluralityInfo" 
                        data-bind="text: pluralityInfo"></span>
                        )
            </label>
        </span>
        <!-- ko foreach: rightHalf -->
            <span class="sentence word"
            data-bind="text: $data"></span>                        
        <!-- /ko -->
    </div>
</div>
<div class="buttons">
    <button tabindex="2" type="submit" class="btn btn-primary" id="check" data-bind="
    click: checkAnswer">Check Answer</button>
    <button tabindex="3" type="submit" class="btn btn-primary" id="post" data-bind="
    click: getNewExercise, hasfocus: userWasCorrect()">Get New Exercise</button>
    <button type="submit" class="btn">Clear (What does this button do?)</button>
</div>
{% endblock %}
