{% extends "base.html" %}

{% block scripts %}
    {{ block.super }}
    <script src="/static/js/conjViewModels.js"></script>
    <script>
        $(document).ready(function(){
            ex = new Exercise();
            ko.applyBindings(ex);
        });
    </script>
{% endblock scripts %}

{% block content %}
<div id="success" class="alert alert-success hide" data-alert="alert"
     data-bind="visible: true === userWasCorrect()">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Congratulations! That is correct.
</div>
<div id="failure" class="alert alert-error hide" data-alert="alert"
    data-bind="visible: false === userWasCorrect()">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Uh-oh that isn't correct.
</div>
<div id="sentence">
    <div class="sentence">
        <!-- ko foreach: leftHalf -->
            <span class="sentence word" 
            data-bind="text: $data"></span>                        
        <!-- /ko -->
        <span class="sentence verb">
            <input type="text" id="verb" data-bind="value: userAnswer"/>
            <label for="verb">
                        <span 
                        data-bind="text: verb().lemma()"></span>
                        <span data-bind="text: pronounInfo()"></span>
            </label>
        </span>
        <!-- ko foreach: rightHalf -->
            <span class="sentence word"
            data-bind="text: $data"></span>                        
        <!-- /ko -->
    </div>
</div>
<div class="buttons">
    <button type="submit" class="btn btn-primary" id="check" data-bind="
    click: checkAnswer">Check</button>
    <button type="submit" class="btn btn-primary" id="post" data-bind="
    click: getNewExercise">Post</button>
    <button type="submit" class="btn">Clear</button>
</div>
{% endblock %}
