body {padding-top: 60px;}
.sentence {display: inline-block;}
.verb {position: relative; top: 1.66em;}
.verb input {width: 200px; margin:0 .25em;}
.verb label {width: 200px; text-align: center; font-size: .66em;}
.buttons {margin-top:4em;}