body {padding-top: 60px;}
.sentence {display: inline-block;}
.word, .verb {height: 4em;}
.word {display: inline-block; vertical-align: top;}
.verb {position: relative; display: inline-block; top: -5px;}
.verb input {width: 250px; margin:0 .25em;}
.verb label {width: 266px; text-align: center; font-size: .66em;}
.buttons {margin-top:4em;}
#feedback {height:4em;}